:root{
    --black: #03071E;
    --dark-primary: #D4A373;
    --primary: #FAEDCD;
    --light-primary: #FEFAE0;
    --secondary: #CCD5AE;
    --light-secondary: #E9EDC9;
    --grey: #E9ECEF;
    --white: #FFFFFF;
}

body{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: var(--grey);
    height: 90vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black);
}

.main{
    background-color: var(--white);
    padding: 3em;
    border-radius: 1em;
    text-align: center;
}

input{
    padding: 1em;
    border: transparent;
    border-radius: 1em;
    background-color: var(--light-primary);
    color: var(--black);
    font-size: large;
    font-weight: bold;
}

input:hover{
    cursor: pointer;
    background-color: var(--dark-primary);
    color: var(--white);
}

.buttons{
    text-align: center;
}

h3{
    font-size: larger;
}